<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='SIW')"></head>
<body>
  <nav th:replace="fragments/base.html :: navbar(page='artisti')"></nav>
  <main id="addArtista">
  	<section>
	  	<form th:action="@{collezione}" method="POST">
	  		<div>
	  			<div>Nome:</div>
	  			<div><input th:name="nome" type="text"></div>
	  		</div>
  			<div>
	  			<div>Descrizione:</div>
	  			<div>
	  				<textarea th:name="descrizione" rows="5" cols="70" maxlength="240"></textarea>
	  			</div>
	  		</div>
	  		<div>
  				<div>Seleziona curatore:</div>
	  			<select>
					<option value="" selected>-- Seleziona curatore --</option>
	  				<option th:each="c : ${curatori}"
	  				  		th:name="curatore"
	  				  		th:text="|${c.cognome} ${c.nome}|">
	  				</option>
	  			</select>
	  		</div>
	  		<div><button type="submit">Inserisci</button></div>
	  	</form>
	 </section>
  </main>

</body>
</html>