<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='SIW')"></head>
<body>
<!--DEVO SOSTITUIRE NAV CON HEADER-->
  <nav th:replace="fragments/base.html :: navbar(page='artista')"></nav>
  <main id="opera-edit">
	 <section class="museum-background">
  		<div class="white-container">
  			<div class="titolo"><span>MODIFICA OPERA</span></div>
		  	
		  	<form th:action="@{/editCollezione/{id} (id = ${collezione.id})}" method="POST" th:object="${collezione}">
		  		<div class="input-container">
			  		<div>
			  			<div>ID:</div> 
			  			<div><input type="text" th:field="*{id}" readonly disabled></div>
			  		</div>
			  		<div>
			  			<div>Nome:</div> 
			  			<div><input type="text" th:field="*{nome}"></div>
			  		</div>
			  		
			  		
			  		<div>
				  		<div>Descrizione:</div> 
			  			<div><input type="text" th:field="*{descrizione}"></div>
				  	</div>
				  	
				  	<div th:if=*{curatore}>
				  		<div>Curatore: </div>
				  		<div><select th:field=*{curatore.id}>
				  				<option value="">-- Seleziona Curatore --</option>
				  				<option th:each="c : ${curatori}"
				  				  		th:text="|${c.nome} ${c.cognome}|"
				  				  		th:value="${c.id}"
				  				  		th:selected="${c.id == collezione.curatore.id}">
				  				 </option>
				  				  
				  			</select>
				  		</div>
				  	</div>
				  	
				  	<div th:unless=*{curatore}>
				  		<div>Curatore: </div>
				  		<div><select>
				  				<option value="">-- Seleziona Curatore --</option>
				  			</select>
				  		</div>
				  	</div>
				  	
			  		<div><button type="submit">Modifica</button></div>
		  		</div>
		  	</form>
  		</div>
	 </section>
	 
  </main>

</body>
</html>