*{
	margin: 0;
	padding: 0;
	border: 0;
}

nav{
	display: flex;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	width: 100%;
  	background-color: #1b1c1c;
}

nav ul{
	display: flex;
	margin-right: 20px;
}

nav li{
	list-style: none;
}

a{
	display: block;
	color: white;
  	text-decoration: none;
}

.anchor-item{
	padding: 20px 40px;
	font-size: 20px;
}

.anchor-item:hover{
	background-color: #404242;
}

#logo{
	margin-left: 20px;
	font-size: 36px
}



/*section*/

main{
	display: flex;
	flex-direction: column;
	height: 1900px;
}

.container{
	flex-grow: 1;
	display: flex;
	
	}

#showcase1 {
	height: 50%;
}

#showcase2 {
	height: 50%;
}

#s1-img1{
	flex-grow: 1;
	background: url(../img/amore-e-psiche.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

#showcase1 .container{
	height: 100%;
}

#showcase2 .container{
	display: flex;
	height: 100%;
}

#s2-img1{
	width: 50%;
	flex-grow: 1;
	background: url(../img/napoleone1.jpg);
	background-position: top center;
	background-size: 100%;
	background-repeat: no-repeat;
}

#s2-img2{
	width: 50%;
	flex-grow: 1;
	background: url(../img/apollo.jpeg);
	background-position: top right;
	background-size: cover;
	background-repeat: no-repeat;
}
.img-section{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn{
	height: 50px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #404242;
	font-size: 18px;
}

.btn:hover{
	background-color: white;
	color: #1b1c1c;
	font-size: 20px;
	
}


