<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='SIW')"></head>
<body>
  <nav th:replace="fragments/base.html :: navbar(page='artisti')"></nav>
  <main id="collezioni-main">
  	<section class="museum-background">
	  	<div class="white-container">
	  	  <div class="titolo"><span>ELENCO COLLEZIONI</span></div>
		  <ul th:if="${session.credentials.ruolo == 'ADMIN'}" class="lista">
		  	<li th:each="c : ${collezioni}">
		  		<a class="blue-link"
		  		   href="persona.html"
		  		   th:href="@{'/collezione' + '/' + ${c.id}}"
		  	   	   th:text="${c.nome}">Nome collezione</a>
		  	   	   
		  	   	<span class ="edit-button">
		  	   	 	<a class="blue-button" th:href="@{'/editCollezione' +'/' + ${c.id}}"><i class="fa fa-pencil"></i></a>
		  	   	 	<a class="blue-button" id="deleteButton" th:href="@{'/eliminaCollezione' +'/' + ${c.id}}"><i class="fa fa-trash"></i></a>
		  	    </span>
		  	</li>  
		  </ul>
		  <ul th:unless="${session.credentials.ruolo == 'ADMIN'}" class="lista-unless">
		  	<li th:each="c : ${collezioni}">
		  		<a class="blue-link"
		  		   href="persona.html"
		  		   th:href="@{'/collezione' + '/' + ${c.id}}"
		  	   	   th:text="${c.nome}">Nome collezione</a>
		  	</li>  
		  </ul> 
		   			  				  	
		  <div class="rigid-box">
			  <a th:if="${session.credentials.ruolo == 'ADMIN'}" class="btn" id="addArtistaBtn" 
			     th:href="@{/addCollezioneForm}">Aggiungi collezione</a>
		  </div>
	  	</div>
	</section>
  </main>
</body>
</html>