<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/base.html :: headerfiles(title='SIW')"></head>
<body>
  <nav th:replace="fragments/base.html :: navbar(page='index')"></nav>
  <main id="home1">
  
  	<section class="museum-background">
	  			<div class="collezione">
	  				<div><span>Astrattismo</span></div>
	  				<div class="opere">
		  				<div class="opera">
		  					<a class="img-link" th:href="@{/home}">
		  						<img alt="" src="/img/kandisky/alcuni_cerchi.jpg">
		  					</a>
		  				</div>
		  				<div class="opera">
		  					<a class="img-link" th:href="@{/home}">
		  						<img alt="" src="/img/klee/senecio.jpg">
		  					</a>
		  				</div>
		  					
		  				<div class="opera">
		  					<a class="img-link" th:href="@{/home}">
		  						<img alt="" src="/img/mondrian/broadway_boogie_woogie.jpg">
		  					</a>
		  				</div>
	  				</div>
	  			</div>
	  			
	  			<div class="collezione" id="ultima-collezione">
	  			  	<div><span>Cubismo</span></div>
	  				<div class="opere">
		  				<div class="opera">
		  					<a class="img-link" th:href="@{/home}">
		  						<img alt="" src="/img/picasso/ritratto.jpg">
		  					</a>
		  				</div>
		  				<div class="opera">
		  					<a class="img-link" th:href="@{/home}">
		  						<img alt="" src="/img/braque/portoghese.jpg">
		  					</a>
		  				</div>
		  				<div class="opera">
		  					<a class="img-link" th:href="@{/home}">
		  						<img alt="" src="/img/gris/ritratto_picasso.jpg">
		  					</a>
		  				</div>
	  				</div>
	  			</div>
 	</section>
  </main>

</body>
</html>